
body {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;

}
.loginWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.signInform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  gap: 20px;
  box-sizing: border-box;
}
